<?xml version="1.0"?>

<launch>
        <arg name="namespace" default="/erp42_serial"/>
        <group ns="$(arg namespace)">
            <node pkg="erp42_serial" name="erp42_serial_node" type="erp42_serial_node" output="screen">
                <param name="serial_port" value="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A50285BI-if00-port0"/>
                <param name="serial_baudrate" value="115200"/>
            </node>
        </group>
</launch>

